[submodule "Dining-Philosopher-Visualized"]
	path = Dining-Philosopher-Visualized
	url = https://github.com/Elwin-J/Dining-Philosopher-Visualized.git
[submodule "SocketsWithPong"]
	path = SocketsWithPong
	url = https://github.com/Elwin-J/SocketsWithPong.git
